{% extends 'body_background.html' %}

{% block subcontent %}

<div class="container" style="width: 500px; top:5%; left:35%;">
  <div class="card bg-light mb-3">
      <div class="card-header" style="font-size: 25px; text-align: center;">Edit your food recipes.</div>
      <div class="card-body">
        <form method="POST" enctype="multipart/form-data">
          {{ form.hidden_tag() }}
      
          {% for field in form if field.widget.input_type != 'hidden' %}
          <div class="input-group mb-3">
            <label>{{ field.label }}:</label>
            <div class="input-group input-group-sm-3">
              {{ field(class="form-control") }}
            </div>
      
            {% for error in field.errors %}
              <p class='text-danger'>{{ error }}</h6>
            {% endfor %}
          </div>
          {% endfor %}

          <div id="add_food_ingredients">
            <label>Ingredients:</label>
            <a id='a_food_ingredients' href="/food/create">Add</a>
            <a id='r_food_ingredients' href="/food/create">Remove</a>

            <div style="" class="input-group">
              <label>Name: </label>
              <input name="food_ingredients_name" type="text" class="form-control" value={{food_ingredients[0][1]}}>

              <label>Quantity: </label>
              <input name="food_ingredients_quantity" type="text" class="form-control" value={{food_ingredients[0][2]}}>
            </div>

            <div style="{{food_ingredients[1][0]}};" class="input-group">
              <label>Name: </label>
              <input name="food_ingredients_name" type="text" class="form-control" value={{food_ingredients[1][1]}}>

              <label>Quantity: </label>
              <input name="food_ingredients_quantity" type="text" class="form-control" value={{food_ingredients[1][2]}}>
            </div>

            <div style="{{food_ingredients[2][0]}};" class="input-group">
              <label>Name: </label>
              <input name="food_ingredients_name" type="text" class="form-control" value={{food_ingredients[2][1]}}>

              <label>Quantity: </label>
              <input name="food_ingredients_quantity" type="text" class="form-control" value={{food_ingredients[2][2]}}>
            </div>

            <div style="{{food_ingredients[3][0]}};" class="input-group">
              <label>Name: </label>
              <input name="food_ingredients_name" type="text" class="form-control" value={{food_ingredients[3][1]}}>

              <label>Quantity: </label>
              <input name="food_ingredients_quantity" type="text" class="form-control" value={{food_ingredients[3][2]}}>
            </div>

            <div style="{{food_ingredients[4][0]}};" class="input-group">
              <label>Name: </label>
              <input name="food_ingredients_name" type="text" class="form-control" value={{food_ingredients[4][1]}}>

              <label>Quantity: </label>
              <input name="food_ingredients_quantity" type="text" class="form-control" value={{food_ingredients[4][2]}}>
            </div>

            <div style="{{food_ingredients[5][0]}};" class="input-group">
              <label>Name: </label>
              <input name="food_ingredients_name" type="text" class="form-control" value={{food_ingredients[5][1]}}>

              <label>Quantity: </label>
              <input name="food_ingredients_quantity" type="text" class="form-control" value={{food_ingredients[5][2]}}>
            </div>

            <div style="{{food_ingredients[6][0]}};" class="input-group">
              <label>Name: </label>
              <input name="food_ingredients_name" type="text" class="form-control" value={{food_ingredients[6][1]}}>

              <label>Quantity: </label>
              <input name="food_ingredients_quantity" type="text" class="form-control" value={{food_ingredients[6][2]}}>
            </div>

            <div style="{{food_ingredients[7][0]}};" class="input-group">
              <label>Name: </label>
              <input name="food_ingredients_name" type="text" class="form-control" value={{food_ingredients[7][1]}}>

              <label>Quantity: </label>
              <input name="food_ingredients_quantity" type="text" class="form-control" value={{food_ingredients[7][2]}}>
            </div>

            <div style="{{food_ingredients[8][0]}};" class="input-group">
              <label>Name: </label>
              <input name="food_ingredients_name" type="text" class="form-control" value={{food_ingredients[8][1]}}>

              <label>Quantity: </label>
              <input name="food_ingredients_quantity" type="text" class="form-control" value={{food_ingredients[8][2]}}>
            </div>

            <div style="{{food_ingredients[9][0]}};" class="input-group">
              <label>Name: </label>
              <input name="food_ingredients_name" type="text" class="form-control" value={{food_ingredients[9][1]}}>

              <label>Quantity: </label>
              <input name="food_ingredients_quantity" type="text" class="form-control" value={{food_ingredients[9][2]}}>
            </div>

            <div style="{{food_ingredients[10][0]}};" class="input-group">
              <label>Name: </label>
              <input name="food_ingredients_name" type="text" class="form-control" value={{food_ingredients[10][1]}}>

              <label>Quantity: </label>
              <input name="food_ingredients_quantity" type="text" class="form-control" value={{food_ingredients[10][2]}}>
            </div>

            <div style="{{food_ingredients[11][0]}};" class="input-group">
              <label>Name: </label>
              <input name="food_ingredients_name" type="text" class="form-control" value={{food_ingredients[11][1]}}>

              <label>Quantity: </label>
              <input name="food_ingredients_quantity" type="text" class="form-control" value={{food_ingredients[11][2]}}>
            </div>

            <div style="{{food_ingredients[12][0]}};" class="input-group">
              <label>Name: </label>
              <input name="food_ingredients_name" type="text" class="form-control" value={{food_ingredients[12][1]}}>

              <label>Quantity: </label>
              <input name="food_ingredients_quantity" type="text" class="form-control" value={{food_ingredients[12][2]}}>
            </div>

            <div style="{{food_ingredients[13][0]}};" class="input-group">
              <label>Name: </label>
              <input name="food_ingredients_name" type="text" class="form-control" value={{food_ingredients[13][1]}}>

              <label>Quantity: </label>
              <input name="food_ingredients_quantity" type="text" class="form-control" value={{food_ingredients[13][2]}}>
            </div>

            <div style="{{food_ingredients[14][0]}};" class="input-group">
              <label>Name: </label>
              <input name="food_ingredients_name" type="text" class="form-control" value={{food_ingredients[14][1]}}>

              <label>Quantity: </label>
              <input name="food_ingredients_quantity" type="text" class="form-control" value={{food_ingredients[14][2]}}>
            </div>

            <div style="{{food_ingredients[15][0]}};" class="input-group">
              <label>Name: </label>
              <input name="food_ingredients_name" type="text" class="form-control" value={{food_ingredients[15][1]}}>

              <label>Quantity: </label>
              <input name="food_ingredients_quantity" type="text" class="form-control" value={{food_ingredients[15][2]}}>
            </div>

            <div style="{{food_ingredients[16][0]}};" class="input-group">
              <label>Name: </label>
              <input name="food_ingredients_name" type="text" class="form-control" value={{food_ingredients[16][1]}}>

              <label>Quantity: </label>
              <input name="food_ingredients_quantity" type="text" class="form-control" value={{food_ingredients[16][2]}}>
            </div>

            <div style="{{food_ingredients[17][0]}};" class="input-group">
              <label>Name: </label>
              <input name="food_ingredients_name" type="text" class="form-control" value={{food_ingredients[17][1]}}>

              <label>Quantity: </label>
              <input name="food_ingredients_quantity" type="text" class="form-control" value={{food_ingredients[17][2]}}>
            </div>

            <div style="{{food_ingredients[18][0]}};" class="input-group">
              <label>Name: </label>
              <input name="food_ingredients_name" type="text" class="form-control" value={{food_ingredients[18][1]}}>

              <label>Quantity: </label>
              <input name="food_ingredients_quantity" type="text" class="form-control" value={{food_ingredients[18][2]}}>
            </div>

            <div style="{{food_ingredients[19][0]}};" class="input-group">
              <label>Name: </label>
              <input name="food_ingredients_name" type="text" class="form-control" value={{food_ingredients[19][1]}}>

              <label>Quantity: </label>
              <input name="food_ingredients_quantity" type="text" class="form-control" value={{food_ingredients[19][2]}}>
            </div>
          </div>

          <div id="add_food_instructions">
            <label>Instructions:</label>
            <a id='a_food_instructions' href="/food/create">Add</a>
            <a id='r_food_instructions' href="/food/create">Remove</a>

            <div style="" class="input-group">
              <label>Step 1: </label>
              <input name="food_instructions" type="text" class="form-control" size="50" value={{food_instructions[0][1]}}>
            </div>

            <div style="{{food_instructions[1][0]}};" class="input-group">
              <label>Step 2: </label>
              <input name="food_instructions" type="text" class="form-control" size="50" value={{food_instructions[1][1]}}>
            </div>

            <div style="{{food_instructions[2][0]}};" class="input-group">
              <label>Step 3: </label>
              <input name="food_instructions" type="text" class="form-control" size="50" value={{food_instructions[2][1]}}>
            </div>

            <div style="{{food_instructions[3][0]}};" class="input-group">
              <label>Step 4: </label>
              <input name="food_instructions" type="text" class="form-control" size="50" value={{food_instructions[3][1]}}>
            </div>

            <div style="{{food_instructions[4][0]}};" class="input-group">
              <label>Step 5: </label>
              <input name="food_instructions" type="text" class="form-control" size="50" value={{food_instructions[4][1]}}>
            </div>

            <div style="{{food_instructions[5][0]}};" class="input-group">
              <label>Step 6: </label>
              <input name="food_instructions" type="text" class="form-control" size="50" value={{food_instructions[5][1]}}>
            </div>

            <div style="{{food_instructions[6][0]}};" class="input-group">
              <label>Step 7: </label>
              <input name="food_instructions" type="text" class="form-control" size="50" value={{food_instructions[6][1]}}>
            </div>

            <div style="{{food_instructions[7][0]}};" class="input-group">
              <label>Step 8: </label>
              <input name="food_instructions" type="text" class="form-control" size="50" value={{food_instructions[7][1]}}>
            </div>

            <div style="{{food_instructions[8][0]}};" class="input-group">
              <label>Step 9: </label>
              <input name="food_instructions" type="text" class="form-control" size="50" value={{food_instructions[8][1]}}>
            </div>

            <div style="{{food_instructions[9][0]}};" class="input-group">
              <label>Step 10: </label>
              <input name="food_instructions" type="text" class="form-control" size="50" value={{food_instructions[9][1]}}>
            </div>

            <div style="{{food_instructions[10][0]}};" class="input-group">
              <label>Step 11: </label>
              <input name="food_instructions" type="text" class="form-control" size="50" value={{food_instructions[10][1]}}>
            </div>

            <div style="{{food_instructions[11][0]}};" class="input-group">
              <label>Step 12: </label>
              <input name="food_instructions" type="text" class="form-control" size="50" value={{food_instructions[11][1]}}>
            </div>

            <div style="{{food_instructions[12][0]}};" class="input-group">
              <label>Step 13: </label>
              <input name="food_instructions" type="text" class="form-control" size="50" value={{food_instructions[12][1]}}>
            </div>

            <div style="{{food_instructions[13][0]}};" class="input-group">
              <label>Step 14: </label>
              <input name="food_instructions" type="text" class="form-control" size="50" value={{food_instructions[13][1]}}>
            </div>

            <div style="{{food_instructions[14][0]}};" class="input-group">
              <label>Step 15: </label>
              <input name="food_instructions" type="text" class="form-control" size="50" value={{food_instructions[14][1]}}>
            </div>

            <div style="{{food_instructions[15][0]}};" class="input-group">
              <label>Step 16: </label>
              <input name="food_instructions" type="text" class="form-control" size="50" value={{food_instructions[15][1]}}>
            </div>

            <div style="{{food_instructions[16][0]}};" class="input-group">
              <label>Step 17: </label>
              <input name="food_instructions" type="text" class="form-control" size="50" value={{food_instructions[16][1]}}>
            </div>

            <div style="{{food_instructions[17][0]}};" class="input-group">
              <label>Step 18: </label>
              <input name="food_instructions" type="text" class="form-control" size="50" value={{food_instructions[17][1]}}>
            </div>

            <div style="{{food_instructions[18][0]}};" class="input-group">
              <label>Step 19: </label>
              <input name="food_instructions" type="text" class="form-control" size="50" value={{food_instructions[18][1]}}>
            </div>

            <div style="{{food_instructions[19][0]}};" class="input-group">
              <label>Step 20: </label>
              <input name="food_instructions" type="text" class="form-control" size="50" value={{food_instructions[19][1]}}>
            </div>
          </div>
          
          <a type="button" class="btn btn-outline-primary" href='/food/create/{{meal_id}}'>Cancel</a>
          <button type="submit" class="btn btn-outline-primary">Edit</button>
        </form>
      </div>
  </div>
</div>

{% endblock %}